/**
 * Typography
 */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 0.928;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'freight-sans-pro', 'helvetica', 'arial', 'sans-serif';
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0.931;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'freight-sans-pro', 'helvetica', 'arial', 'sans-serif';
}

p {
  line-height: 1.421;
  font-family: 'freight-sans-pro', 'helvetica', 'arial', 'sans-serif';
}

a:link {
  background: linear-gradient(to top,
    rgba(192, 31, 46, 0) 11%,
    rgba(192, 31, 46, 0.3) 11%,
    rgba(192, 31, 46, 0.3) 16%,
    rgba(192, 31, 46, 0) 16%);
  color: @highlight;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: @highlight--alt;
  background: linear-gradient(to top,
    rgba(128, 21, 31, 0) 11%,
    rgba(128, 21, 31, 0.3) 11%,
    rgba(128, 21, 31, 0.3) 16%,
    rgba(128, 21, 31, 0) 16%);
}
a:active {
  color: desaturate(@highlight, 20%); 
}

h1 a:link {
  background-image: none;
  border-color: @highlight;
  color: @highlight;
}
h1 a:hover {
  background-image: none;
  border-color: @highlight--alt;
  color: @highlight--alt;
}

@media(min-width: 58.75em) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.526rem;
  }
}

blockquote {
  border-width: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: @spacing*1em;
  border-style: solid;
  border-left-width: 3px;
  color: #111;
  line-height: 1.421;
  margin-left: -@spacing*1em;
}

ol, ul {
  list-style-position: outside;
  padding-left: 0;
}

li + li {
  margin-top: 0;
}