<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
  <script type="application/javascript" src="/scripts/script.js" defer></script>
  <script src="https://cdn.usefathom.com/script.js" site="SYLMDFCN" honor-dnt="true" defer></script>
</html>
