<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet" />
    <script>
      function getHue() {
        return Math.floor(Math.random() * 360) + 0;
      }

      function setFill(hue, element) {
        element.style.fill = "hsl(" + hue + ", 85%, 45%)";
      }

      function setColor(hue, element) {
        element.style.color = "hsl(" + hue + ", 85%, 45%)";
      }
    </script>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
  <script>
    var anchors = [].slice.call(document.querySelectorAll("a"));
    var hue = getHue();

    anchors.forEach(function(a) {
      setColor(hue, a);
    });
  </script>
  <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'SYLMDFCN');
    fathom('trackPageview');
  </script>
</html>
