<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:url"
      content="{{ page.permalink }}"
      data-react-helmet="true"
    />
    <meta property="og:type" content="article" data-react-helmet="true" />
    <meta
      property="og:title"
      content="{{ page.title }} | {{ site.title }}"
      data-react-helmet="true"
    />
    <meta
      property="og:description"
      content="{{ page.description }}"
      data-react-helmet="true"
    />
    <meta
      name="twitter:title"
      content="{{ page.title }} | {{ site.title }}"
      data-react-helmet="true"
    />
    <meta
      name="twitter:description"
      content="{{ page.description }}"
      data-react-helmet="true"
    />

    <link href="/css/styles.css" rel="stylesheet" />
    <script>
      function getHue() {
        return Math.floor(Math.random() * 360) + 0;
      }

      function setFill(hue, element) {
        element.style.fill = "hsl(" + hue + ", 85%, 45%)";
      }

      function setColor(hue, element) {
        element.style.color = "hsl(" + hue + ", 85%, 45%)";
      }

      function getEstimatedReadingTime(string, wpm) {
        if (!string) string = '';
        if (!wpm) wpm = 200;

        var wordCount = string.split(" ").length;
        var [minutes, decimalSeconds] = (wordCount / wpm).toString().split(".");
        return [minutes, Math.ceil(decimalSeconds * 0.6)];
      }
    </script>
  </head>
  <body>
    <article class="container">
      <a class="all-posts" href="/"><span>All posts</span></a>
      <h1>{{ page.title }}</h1>
      <time datetime="{{ page.date }}">{{ page.date | date: "%d %B %Y" }}</time>
      <main class="blog">{{ content }}</main>
      <div class="reading-time" />
    </article>
  </body>
  <script>
    var anchors = [].slice.call(document.querySelectorAll("a"));
    var hue = getHue();

    anchors.forEach(function(a) {
      setColor(hue, a);
    });

    var readingTimeElement = document.querySelector('.reading-time');
    var contentElement = document.querySelector('main.blog');

    if (readingTimeElement) {
      let readingTime = getEstimatedReadingTime(contentElement.innerText);
      readingTimeElement.innerHTML = readingTime[0] + ' min read';
    }
  </script>
</html>
